html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 700px;
    width: 100%;
    margin: auto;
    background-image: url("../images/background.jpg");
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}